*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 1440px;
  background: #0F0F12;
  margin: 0 auto;
}

.hero{
  width: 1440px;
  height: 810px;
  background: #0F0F12; 
}
.logo{
  width: 203px;
  height: 61px; 
  margin: 20px 40px;
}
.main{
  width: 100%;
  height: 608px; 
  background-image: url(image/image.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 101px;
}
.main h1{
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-family: Inter;
  font-size: 100px;
  font-weight: 800;
  line-height: 112px; 
}
.main .menu{
  position: absolute;
  top:80px;
  right:160px;
}
.main .honors{
  position: absolute;
  top:215.83px;
  right:0;
}

.works{
  width: 100%;
  height: 81px; 
  display: flex;
  flex-wrap: wrap;
}

.works p{
 display: flex;
 align-items: center;
 gap:20px;
}
.works span{
  color: #484848;
  font-family: Space Grotesk;
  font-size: 50px;
  font-weight: 300;
  line-height: 81px;
}
 button{
  padding: 10px;
  background: #0F0F12; 
  display: flex;
  align-items: center;
  margin: 181px auto 0;
  border: 0;
  gap:5px;
  cursor: pointer;
}
button span{
  color: #FFF;
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
.section-2{
  width: 1320px;
  height: 1680px; 
  margin: 200px 60px 0 ;
  display: flex;
  flex-wrap: wrap;
  gap:50px;
}
.box-2{
   margin-top: 144px;
}
.box-4{
  margin-top: 99px;
}
.section-2 .btn{
  padding: 16px 25.594px 8.016px 25px; 
  border-radius: 16px;
  background: #F85430; 
  color: #0F0F12;
  font-family: Space Grotesk;
  font-size: 19.008px;
  font-weight: 300;
  line-height: 19.008px;
  cursor: pointer;
  
}

 a{
  padding: 16px 25.594px 8.016px 25px; 
  border-radius: 16px;
  height: 43.01px;
  background: #F85430; 
  margin: 0 auto;
  text-decoration: none;
  color: #0F0F12;
  font-family: Space Grotesk;
  font-size: 19.008px;
  font-weight: 300;
  line-height: 19.008px;
}

/* section -3 */
.section-3{
  margin: 0 60px;
}
.propose{
   margin-top: 203px;
}
.propose h2{
 
  color: #FFF;
  font-family: Inter;
  font-size: 85px;
  font-weight: 800;
  line-height: 96px;
}
.project{
  margin-top: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project h2{
  color: #F85430;
  font-family: Inter;
  font-size: 87px;
  font-weight: 800;
  line-height: 96px; 
}

footer{
  margin-top: 55px;
  margin-left: 60px;
  border-top: 1px solid #484848; 
  padding: 34px 60px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer{
  display: flex;
  align-items: center;
  gap:33.8px
}
.footer-left p{
  color: #484848;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}
.footer-right{
  color: #FFF;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px; 
}